/*************************************************************
Calculator
*************************************************************/
.calc_body {
    position: relative;
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Frijole', cursive;
    font-size: 2.5em;
}

.calc_display {
    height: 16.5%;
}

.row_container {
    height: 16.5%;
    width: 100%;
}

.row_container div {
    height: 100%;
}

.buttons {
    width: 100%;
    height: auto;
}

.results {
    margin-top: 5%;
    #border:
}

#input_field, #result_field {

   border: none;
}
